[Desktop Entry]
Type=Application
Terminal=false
Exec=gambal
Icon=gambal
Name=gambal
Comment=Graphical Bandwidth Monitor
Categories=System;Network;Utility;
Keywords=Network;Bandwidth;Usage;Monitor;
